/* index header nav */
/* Main Styles */

/* Body styles */
.ibody {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation styles */
.inav {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.ilogo img {
  height: 40px; /* Adjust height as needed */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.isearchbutton {
  padding: 5px 10px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.cart img {
  height: 30px; /* Adjust height as needed */
}
