
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling footer */
footer {
    background-color: #e85757; /* Change background color*/
    color: #fff; /* Change text color*/
    padding: 30px 0; /* Adjust padding*/
    font-family: Arial, sans-serif; /* Change font family*/
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px; /* Adjusting max-width  */
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px; /* Adjusting padding  */
}

.footer-section h3 {
    font-size: 18px; /* Adjusting font size */
    margin-bottom: 10px; /* Adjusting margin*/
}

.footer-section p {
    font-size: 14px; /* Adjusting font size */
    margin-bottom: 15px; /* Adjusting margin  */
}

.social-icons a {
    color: #fff; /* Change icon color  */
    font-size: 24px; /* Adjusting icon size  */
    margin-right: 10px; /* Adjusting margin between icons */
}

/* Styling for the copyright section */
.copyright {
    
    text-align: center;
    padding: 10px 0; /* Adjust padding  */
    font-size: 14px; /* Adjust size of font  */
}
